{% extends "base.html" %}
{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<p>Klientas: <b>{{ order.customer }}</b></p>
<p>Data: <b>{{ order.date }}</b></p>
<p>Būsena: <b>{{ order.status }}</b></p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Prekė</th>
        <th scope="col">Kaina</th>
        <th scope="col">Kiekis</th>
        <th scope="col">Suma</th>
    </tr>
    </thead>
{% for line in order.lines.all %}
<tr>
    <th>{{ line.product.name }}</th>
    <td>{{ line.product.price }}</td>
    <td>{{ line.quantity }}</td>
    <td>{{ line.suma }}</td>
</tr>
    <!--<p>{{ line }} - {{ line.suma }}</p>-->
{% endfor %}
<tr>
    <th colspan="3">BENDRA KAINA:</th>
    <td>{{ order.total }}</td>
</tr>
</table>
{% endblock %}